@import "tailwindcss";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    .btn {
        @apply bg-gray-100 text-gray-900 rounded-lg px-4 py-2 text-sm font-medium hover:bg-gray-200 transition-colors cursor-pointer whitespace-nowrap flex-shrink-0;
    }

    .side_menu {
        @apply flex justify-center items-center flex-col hover:bg-gray-300 p-3 rounded
    }

    .video_img {
        @apply rounded-xl w-full aspect-video cursor-pointer overflow-hidden relative
    }

    .video_img:hover img {
        @apply scale-105
    }

    .video_img img {
        @apply w-full h-full object-cover transition-transform duration-300
    }

    .shorts {
        @apply rounded-xl w-full aspect-[9/16] cursor-pointer overflow-hidden relative
    }

    .shorts:hover img {
        @apply scale-105
    }

    .shorts img {
        @apply w-full h-full object-cover transition-transform duration-300
    }
}